<h2>Edit Your Review</h2>
<hr />

<form action="/restaurants/<%= _id %>?_method=PUT" method="post" class="edit-form">
  <div class="field">
    <div class="control">
      <input class="input" type="text" name="name" value="<%= name %>">
    </div>
    <div class="control">
      <input class="input" type="text" name="city" value="<%= city %>">
    </div>
    <div class="control">
      <input class="input" type="text" name="address" value="<%= address %>">
    </div>
    <div class="control">
      <input class="input" type="text" name="images" value="<%= images %>">
    </div>

    <% reviews.forEach(review => { %>
      <div class="control">
        <input name="user" value="<%= locals.currentUser._id %>" hidden>
        <input value="<%= review.comment %>" name="comment" rows="10" cols="80" class= "textarea is-primary"></input>
        <input class="input" type="number" name="rating" value="<%= review.rating %>">
      </div>
    <% }) %>
  </div>


  <div class="field" id="submit-cancel-btns">
    <div class="control">
      <button class="button is-link">Submit Edit</button>
    </div>
  </div>


</form>
