<div>
  <h2 class="restaurant-name"> <%= restaurant.name %> </h2>
  <p> <%= restaurant.city %> </p>
</div>

<% if(locals.isLoggedIn) { %>
  <div class="edit-delete-btns">
    <div>
      <button class="button is-outlined is-small"><a id="edit-btn-text" href="/restaurants/<%= restaurant.id %>/edit">Edit your review</a></button>
    </div>

    <div>
      <form class="" action="/restaurants/<%= restaurant.city %>/<%= restaurant.id %>?_method=DELETE" method="post">
        <button class="button is-outlined is-small" id="delete-btn-text">Delete the review</button>
      </form>
    </div>
  </div>
<% } %>

<hr>

<div class="columns" id="image-container">
  <div class="column" id="image">
    <% restaurant.images.forEach(image => { %>
      <img src="<%= image %> " alt="restaurant-image" class="restaurant-image">
      <% }) %>
  </div>

</div>

<a href="/restaurants/city/<%= city %>">Go back to <%= city %></a>
